* {
  font-family: 'Inter', sans-serif;
  text-rendering: optimizeLegibility;
  letter-spacing:2px;
  line-height: 1.5em;
}

*::selection {
  background-color: rgba(256,256,256,0);
}

h1 {
  margin: 0;
  width: 80vw;
  position: fixed;
  text-align: center;
  left: 50vw;
  top: 50vh;
  transform: translate(-50%,-50%);
  cursor: default;
}

h1 u {
  cursor: pointer;
}

.show {
  display: block !important;
}

.hide {
  display: none !important;
}

.title {
  font-weight: 600;
  font-size: 100pt;
}

.fadein {
  animation: fadein 2s ease-in-out 1 forwards;
}

.about {
  font-weight: 500;
  font-size: 30pt;
  width: 80vw;
}

@keyframes fadein {
  from {
    color: #DCDCDC;
    filter: blur(15px);
  }

  to {
    color: #000;
    filter: blur(0px);
  }
}

.button {
  position: fixed;
  left: 0px;
  font-size: 18pt;
  font-weight: 600;
  cursor: pointer;
  /* color: white; */
  display: none;
}

@keyframes positionX {
  0% {left: 0;}
  100% {left: 100vw;}
}

#echo {
  animation-name: positionX, positionYecho, glow;
  animation-duration: 24s,4s,3s;
  animation-delay: -4s,0s,-2s;
  animation-iteration-count: infinite, infinite, infinite;
  animation-timing-function: linear, ease-in-out, ease-in-out;
  animation-direction: alternate, alternate, alternate;
}

#message {
  animation-name: positionX, positionYmessage, glow;
  animation-duration: 25s,5s,4s;
  animation-delay: -12s,-2s,-3s;
  animation-iteration-count: infinite, infinite, infinite;
  animation-timing-function: linear, ease-in-out, ease-in-out;
  animation-direction: alternate, alternate, alternate;
}

#statement {
  animation-name: positionX, positionYstatement, glow;
  animation-duration: 27s,4.5s,3.5s;
  animation-delay: -8s,-3.5s,-2s;
  animation-iteration-count: infinite, infinite, infinite;
  animation-timing-function: linear, ease-in-out, ease-in-out;
  animation-direction: alternate, alternate, alternate;
}

#echo:hover,#message:hover,#statement:hover {
  animation-play-state: paused,paused,running;
}

@keyframes positionYecho {
  0% {top: 20vh;}
  100% {top: 80vh;}
}

@keyframes positionYmessage {
  0% {top: 30vh;}
  100% {top: 70vh;}
}

@keyframes positionYstatement {
  0% {top: 15vh;}
  100% {top: 85vh;}
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 5px #008ce7, 0 0 10px #008ce7, 0 0 15px #008ce7, 0 0 20px #008ce7, 0 0 25px #008ce7, 0 0 30px #008ce7;
  }

  to {
    text-shadow: 0 0 5px #008ce7, 0 0 10px #008ce7, 0 0 15px #008ce7;
  }
}

#mask {
  position: fixed;
  pointer-events: none;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  box-shadow: inset 0 0 0 0 #008ce7;
  /* transition: box-shadow 3s ease-in-out; */
}
.mask-shadow {
  box-shadow: inset 0 0 0 0 #008ce7;
}

.mask-animation {
  animation: inset 60s linear 1 forwards;
}

@keyframes inset {
  0% {box-shadow: inset 0 0 0px 0px #008ce7;}
  100% {box-shadow: inset 0 0 50vh 50vh #008ce7;}
}
