#livestream-scroll {
  margin: 0;
  top: 0;
  left: 0;
  height: calc( 300vh - 100px );
  pointer-events: none;
}

#livestream-container {
  background-color: silver;
  height: calc( 100vh - 100px );
  width: calc( 100vw - 160px );
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 100vh;
  margin-bottom: 100vh;
  border-radius: 50px;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(webcamgallery.jpg);
  background-position: center;
  background-size: cover;
  transition: .5s ease-in;
  /* animation: scrollup .5s ease-in 2s 1 forwards; */
  filter: drop-shadow(0px 0px 8px #808080);
}

@keyframes scrollup {
  from {transform: top(0);}
  to {transform: translateY(-50px);}
}
